<div class="toolbar">
	<h1 id="pageTitle"><%= @title %></h1>
	<% if @project %>
	  <span class="right_button"><a href="<%= "/app/Ticket/new?project=#{@project.object}" %>" class="button">New</a></span>
	<% end %>
</div>

<% if @please_wait %>
<div class="flash">Please wait while we download your data from lighthouseapp.com. This may take several minutes.... Do not quit the app until this is done.</div>
<% else %>

<ul id="tickets" >	
<% if @tickets && @tickets.length > 0 %>
	<% @tickets.each do |ticket| %>
		<% if project = Project.find(ticket.project_id) %>
			<li class="ticket_details">
			  <%= link_to ticket_details(ticket, project), :action => :edit, :id => ticket.object %>
			</li>
		<% end %>
	<% end %>
<% else %>
	<li>None found</li>
<% end %>

</ul>

<% end %>