<div class="toolbar">
	<h1 id="pageTitle">Tickets</h1>
	<% if @project %>
	  <span class="right_button"><a href="/app/Ticket/new" class="button">New</a></span>
	<% end %>
</div>

<ul id="tickets" >	
<% if @tickets && @tickets.length > 0 %>
	<% @tickets.each do |ticket| %>
		<% if project = Project.find(ticket.project_id) %>
			<li class="ticket_details">
			  <%= link_to ticket_details(ticket, project), :action => :edit, :id => ticket.object %>
			</li>
		<% end %>
	<% end %>
<% else %>
	<li>None found</li>
<% end %>

</ul>
