<div class="panel" style="height:480px;padding:0">

<div class="toolbar">
  <a href="/app" class="left_button"><span class="button">Cancel</span></a>
	<h1 id="pageTitle">New Account</h1>
	<span class="right_button"><a href="#" onclick='$("#new_user_form").submit();' class="button">Create</a></span>
</div>

<div style="margin:0 10px">
<p>Have an existing account?</p>
<p align="center">
  <a href="/app/Settings/login">Click here to Login</a>
</p>

<hr />

<form class="panel" id="new_user_form" method="POST" style="margin-top:0"
	 action="http://www.issuestogo.com/client_create" selected="true">	
		
	<p style="margin-top:0">Enter new "Issues to Go" user name and password below. You can also create a new account by visiting our website at http://www.issuestogo.com:</p>
	
	<% if @msg %>
	  <p style="color:#ff0000"><%= @msg %></p>
	<% end %>
	
	<fieldset>		
	  <div class="row">
		  <label>User name</label>
		  <input type="text" name="login"/>
	  </div>
	  <div class="row">
		  <label>Password</label>
		  <input type="text" name="password"/>
	  </div>
	</fieldset>		
    
	
	<p>Enter your lighthouseapp.com info:</p>
	
	<fieldset>		
	  <div class="row">
		  <label>Account</label>
		  <input type="text" name="domain"/>
	  </div>
	  <div class="row" style="text-align:left;padding:10px 15px; color:#aaa">Example for http://vdggroup.lighthouseapp.com enter "vdggroup"</div>
	  <div class="tallrow" style="height:auto">
		  <div style="text-align:left;font-weight:bold;font-size:14px;padding:10px 15px">API Token (40 characters)</div>
		  <input style="width:90%;margin:0 10px 10px 5px;" type="text" name="token"/>
	  </div>
	</fieldset>
	
	<input type="submit" value="Create Account">
</form>

<p>Questions? Visit the <a href="http://www.issuestogo.com">Issues To Go</a> website or <a href="mailto:customercare@vdggroup.com">contact us</a>.</p>
</div>
