<div class="panel" style="height:480px;padding:0">

<div class="toolbar">
  <span class="left_button"><a href="/app" class="button">Cancel</a></span>
	<h1 id="pageTitle">Login</h1>
	<span class="right_button"><a href="#" onclick='$("#user_edit_form").submit();' class="button">Login</a></span>
</div>

<form class="panel" id="user_edit_form" method="POST" 
	 action="<%=url_for(:action => 'do_login')%>" selected="true">	
			
	<% if @msg %>
	  <p style="color:#ff0000"><%= @msg %></p>
	<% end %>
	
	<table class="grid">
		<tr>
			<td class="gridleft" style="color:#000000">Login</td>
			<td class="gridright"><input type="text" maxlength="100" name="login"/></td>
		</tr>
		<tr>
			<td class="gridleft" style="color:#000000">Password</td>
			<td class="gridright"><input type="text" maxlength="100" name="password"/></td>
		</tr>
	</table>

</form>
</div>