<div class="toolbar">
  <a href="/app" class="left_button"><span class="button">Cancel</span></a>
	<h1 id="pageTitle">Sources</h1>
	<span class="right_button"><a href="/app/Settings/do_sync" class="button">Sync</a></span>
</div>


<ul id="sources">
	<% @sources.each do |source| %>
	  <li><%= "#{source.name}(#{source.source_id}): #{source.distinct_objects} records" %></li>
	<% end %>
</ul>

<p align="center" class="whiteButton">
  <%= link_to "Logout", :action => :logout %>
</p>

